.btn-primary {
    color: #fff;
    background-color: #005CAB;
    border-color: #005CAB;
}

.bg-light {
    background-color: #EBEBEB !important;
}

.fill-light {
    fill: #EBEBEB;
}

body {
    color: #8C8C8C;
}

.btn-primary:hover {
    color: #fff;
    background-color: #005CAB;
    border-color: #005CAB;
}

.text-warning {
    color: #DA7A24 !important;
}

.bg-primary {
    background-color: #005CAB !important;
}

.fill-primary {
    fill: #005CAB;
}

.badge-primary-soft {
    background-color: rgba(40, 110, 251, .1);
    color: #005CAB;
}

.owl-nav [class*=owl-] {
    background: #005CAB;
    color: #fff;
    width: 3rem;
    height: 3rem;
}

.overlay-warning:before {
    background-color: #DA7A24;
}

.btn-warning {
    color: #212529;
    background-color: #DA7A24;
    border-color: #DA7A24;
}

.bg-warning {
    background-color: #eb6714 !important;
}

.emphasis{
    display: inline-block;
    border-bottom: solid #DA7A24 5px;
    border-top: solid #DA7A24 5px;
}