.nav > li.active {
	border-left: 4px solid #DA7A24;
	background: #293846;
}

.btn-primary {
	color: #fff;
	background-color: #DA7A24;
	border-color: #DA7A24;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
	background-color: #DA7A24;
	border-color: #DA7A24;
	color: #FFFFFF;
}

.label-primary, .badge-primary {
	background-color: #DA7A24;
	color: #FFFFFF;
}

.open-small-chat {
	height: 38px;
	width: 38px;
	display: block;
	background: #DA7A24;
	padding: 9px 8px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}

.text-navy {
	color: #DA7A24 !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #704824;
	border-color: #704824;
}

.form-control:focus, .single-line:focus {
	border-color: #DA7A24;
}

h1,h2,h3,h4,h5,h6{
	position: relative;
}

.bgcustom{
	background-color: orange;
}